# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
venv/
.env
.env.*

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Ignore MySQL dump files or database backup
*.sql
*.sql.gz

# If you use a .env file or local settings file
.env
local_settings.py
